<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>31089409226-8vpbb9flrqiiq62tmod4vm8aaa85iv4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31089409226-8vpbb9flrqiiq62tmod4vm8aaa85iv4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAK0vIJ20DgpA79krlEFJoZDfQK-GKOT6o</string>
	<key>GCM_SENDER_ID</key>
	<string>31089409226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethrollsout.Firebase-Test-DB</string>
	<key>PROJECT_ID</key>
	<string>testdb-e87dd</string>
	<key>STORAGE_BUCKET</key>
	<string>testdb-e87dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:31089409226:ios:7833415bc6729641</string>
	<key>DATABASE_URL</key>
	<string>https://testdb-e87dd.firebaseio.com</string>
</dict>
</plist>